POSTGRES_DB=publicsafetydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PUBLIC_SAFETY_POLICE_ACCESS_CODE=POLICE-2026
PUBLIC_SAFETY_JWT_SECRET=change-this-secret-before-production
BOOTSTRAP_POLICE_EMAIL=officer@police.local
BOOTSTRAP_POLICE_PASSWORD=Police@123
BOOTSTRAP_POLICE_NAME=Officer Demo
BOOTSTRAP_POLICE_PHONE=1000000000
BOOTSTRAP_POLICE_BADGE=PS-001
